body {
    background-color: deepskyblue;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 72px;
    border-bottom: 1px solid #0059ff;
    color: white;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

p {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

img {
    width: 300px;
}